@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 45%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size: 15px;
  /* Media Queries */
  --width-mobile: 375px;
  --width-desktop: 1440px;
}

/* Default styles */
html {
  font: var(--font-size) var(--font-family);
  background: var(--color-light-gray);
}

/* Class styles */
.card {
  width: 320px;
  height: 497px;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card .context {
  margin: 24px 0;
  padding: 0 24px;
}

.card .context h2,
.card .context p {
  text-align: center;
}

.card .context h2 {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-dark-blue);
}

.card .context p {
  line-height: 19px;
  letter-spacing: 0.1875px;
  color: var(--color-grayish-blue);
}

.attribution { font-size: var(--font-size); text-align: center; }
.attribution a { color: var(--color-grayish-blue); }